{% extends "base.html" %}

{% block title %}Global Map of Drivers - F1 Wins Visualizer{% endblock %}

{% block instructions %}
<h2 class="text-center mt-4">Global Map of Drivers</h2>
<p class="text-center">Use the map below to explore the wins of Formula 1 drivers from different countries. Click on a pin to see detailed information about the drivers from that country and their total number of wins.</p>
{% endblock %}

{% block content %}
<div class="row mt-4 justify-content-center">
    <div class="col-md-6 text-center">
        
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div id="map">{{ map_html|safe }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
