{% extends "base.html" %}

{% block title %}Total Wins by Team - F1 Wins Visualizer{% endblock %}

{% block instructions %}
<h2 class="text-center mt-4">Total Wins by Team</h2>
<p class="text-center">Explore the total number of races won by each team in Formula 1 history.</p>
{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-4 text-center">
        <img src="{{ url_for('static', filename='teams_reference.png') }}" alt="Teams Reference Image" class="img-fluid rounded mx-auto d-block">
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <div id="graph">{{ graph_html|safe }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

